* {
  box-sizing: border-box;
}

/* --------------MESSAGE EL.------------ */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}

/* --------------BODY------------------ */
#game {
  background-color: gold;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 120vh;
  width: 150vh;
  justify-content: center;
  align-items: center;
  background-position: fixed;
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/image_57ecff16.jpeg?region=0%2C0%2C640%2C480)
}
/*----Game Board (Juedo de Mesa)----*/
#cover {
  background-color: gold;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 120vh;
  width: 130vh;
  display: grid;
  grid-area:unset;
  background-position: fixed;
  background-size: cover;
  background-image: url(https://cdn.dribbble.com/users/1099127/screenshots/3956888/dribbble.gif)
}

/* --------------BUTTON------------- */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  color: orange;
  background-color: red;
  opacity: 0.75;
}

button:hover {
  color: skyblue;
  font-weight: bold;
  background-color: yellow;
  opacity: 1;
}

/* --------Board: Card Containers------ */

#board {
  margin: 48px auto;
  height: 100vh;
  width: 120vh;
  position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 45%;
}


#card-0, #card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8, #card-9, #card-10, #card-11 {
  height: 25vh;
  width: 25vh;
  border-radius: 30%;
  border: 0.25vmin solid orangered;
  transform-style: preserve-3d
}
#card-0:hover, #card-1:hover, #card-2:hover, #card-3:hover, #card-4:hover, #card-5:hover, #card-6:hover, #card-7:hover, #card-8:hover, #card-9:hover, #card-10:hover, #card-11:hover {
  border: solid greenyellow
}



.front {
  background-image: url(COCO_PICS/08.png);
  background-size: cover;
  position: absolute;
  height: 24.5vh;
  width: 24.5vh;
  border-radius: 30%;
  opacity: 0.65;
}

.back {
  background-size: auto;
  background-color: red orangered;
  position: absolute;
  height: 24.5vh;
  width: 24.5vh;
  border-radius: 30%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

/*-----Shared HTML-----*/
audio {
  opacity: 0.10;
}
a {
  font-weight: bold;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
}