* {
  box-sizing: border-box;
}

/* --------------MESSAGE EL------------ */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}

/* --------------BODY------------------ */
body {
  background-color: gold;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 120vh;
  width: 150vh;
  justify-content: center;
  align-items: center;
  background-position: fixed;
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/image_57ecff16.jpeg?region=0%2C0%2C640%2C480)
}

/* --------------BUTTON(S)------------- */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  color: orange;
  background-color: red;
  opacity: 0.75;
}

button:hover {
  color: skyblue;
  font-weight: bold;
  background-color: yellow;
  opacity: 1;
}

/* --------SECTION: Card Containers------ */

#board {
  margin: 48px auto;
  height: 100vh;
  width: 120vh;
  position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 45%;
  /* border: 0.25vmin solid darkslategrey; */
}

#card-0, #card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8, #card-9, #card-10, #card-11 {
  height: 25vh;
  width: 25vh;
  border-radius: 30%;
  border: 0.25vmin solid orangered;
  transform-style: preserve-3d
}
#card-0:hover {
  border: solid greenyellow
}
#card-2:hover {
  border: solid greenyellow
}
#card-3:hover {
  border: solid greenyellow
}
#card-4:hover {
  border: solid greenyellow
}
#card-5:hover {
  border: solid greenyellow
}
#card-6:hover {
  border: solid greenyellow
}
#card-7:hover {
  border: solid greenyellow
}
#card-8:hover {
  border: solid greenyellow
}
#card-9:hover {
  border: solid greenyellow
}
#card-10:hover {
  border: solid greenyellow
}
#card-11:hover {
  border: solid greenyellow
}
#card-1:hover {
  border: solid greenyellow
}



.front {
  background-image: url(COCO_PICS/08.png);
  background-size: cover;
  position: absolute;
  height: 24.5vh;
  width: 24.5vh;
  border-radius: 30%;
  opacity: 0.70;
}

.back {
  background-size: auto;
  background-color: red orangered;
  position: absolute;
  height: 24.5vh;
  width: 24.5vh;
  border-radius: 30%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}